.About-us {
    width: 100%;
    text-align: center;
    background-color: #9a9a9a;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 350px;
    width: 100vh;
    justify-content: center;
    align-items: center;
  }
h1{
    color: red;
    font-size: 35px;
}

img {
    border-radius: 50%;
}
  
p {
    font-size: 20px;
} 
