<main>
  <div class="intro">
    <h1>Album App</h1>
    <p>You can see a list of albums and their photos.</p>
    <a routerLink="/albums"><button >Learn More</button></a>
  </div>
  <div class="possi">
    <div class="work">
      <i class="fas fa-atom"></i>
      <p class="work-heading">Opportunity 1</p>
      <p class="work-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ullam sit voluptatibus quibusdam quam reiciendis nostrum. Nihil tenetur omnis accusantium unde esse reiciendis molestiae veritatis architecto magni! Adipisci, voluptatem eos?</p>
    </div>
    <div class="work">
      <i class="fas fa-skiing"></i>
      <p class="work-heading">Opportunity 2</p>
      <p class="work-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias tempora cupiditate reprehenderit, ullam inventore voluptate vero autem in maiores molestias beatae iure dignissimos distinctio ex pariatur debitis explicabo. Neque, saepe.</p>
    </div>
    <div class="work">
      <i class="fas fa-ethernet"></i>
      <p class="work-heading">Opportunity 3</p>
      <p class="work-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem officiis ratione porro est enim hic nemo minima accusantium, exercitationem temporibus voluptate nulla iste libero unde dolorum quo doloremque laudantium expedita?</p>
    </div>
  </div>
</main>